$white-color: whitesmoke;

.companyAbout{
    // color:black;
    font-size: 40px;
    padding-bottom: 20px;
}
.accInfo{
    font-size: 90px;
}
.status{
    font-size: 25px;
    width: 100%;
    margin: 3%;
    text-align: center;
    font-weight: bold;
}
.onHold{
    background-color:red;
}
.available{
    background-color: green;
}
.pickedup{
    background-color: gold;
}
.myReserved {
    background-color: royalblue;
}

.infoo {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid $white-color;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 65%;
    padding: 40px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
   }
   
   .user {
       padding: 20px;
       font-size: 30px;
   }
   