.companyAbout{
    color:green;
    font-size: 30px;
    background-color: tan;
    max-width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}
.accInfo{
    font-size: 100px;
}
.onHold{
    font-size: 25px;
    background-color: blue;
    width: 25%;
    margin-left: 6.25%;
    text-align: center;
}