.companyAbout{
    color:black;
    font-size: 30px;
}
.accInfo{
    font-size: 100px;
}
.status{
    font-size: 25px;
    width: 25%;
    margin-left: 6.25%;
    text-align: center;
    font-weight: bold;
}
.onHold{
    background-color:red;
}
.available{
    background-color: green;
}
.pickup{
    background-color: gold;
}