$white-color: whitesmoke;

.pickupBtn .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

.bigBtn {
    width: 75%;
    height: 85%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid $white-color;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: xx-large;
}

#pickupImg {
    width: 250px;
    height: auto;
}

#donateImg {
    width: 279px;
    height: auto;
}

.btn-dark:hover {
    background-color: rgba(0, 0, 0, 0.568); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.644); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid $white-color;
}

.tooltip:hover .pickupBtn {
    visibility: visible;
  }
