$white-color: whitesmoke;

.dashContainer {
    margin-top: 110px;
    margin-bottom: 80px;
}

.bigBtn {
    width: 75%;
    height: 85%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid $white-color;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: xx-large;
}

#pickupImg {
    width: 250px;
    height: auto;
}

#donateImg {
    width: 279px;
    height: auto;
}

.bigBtn:hover {
    background-color: rgba(0, 0, 0, 0.568); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.644); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid $white-color;
}


