.allergies{
    color: white;
    display: inline-block;
}
.board{
    padding-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: rgba(82, 45, 45, 0.931);
    margin-bottom: 20px;
}
// .background{
//     background: url("../images//formImg.png") repeat center fixed; 
//     background-size: cover;
//     height:100vh;
// }
h3{
    color: white;
}
.submit{
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 30px;
}
.h3{
    font-size: 30px;
    color: cyan;
}
.h2{
    padding-top: 10px;
    font-size: 60px;
    color: cyan;
}
.padding{
    padding-top: 30px;
}
h2{
    color: white;
}
