$white-color: whitesmoke;

body, html {
    margin-top: 0;
    border: 0;
    outline: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image-home {
    /* The image used */
    background-image: url("../images/food.jpg");
  
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid $white-color;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .nav-link {
    color: $white-color;
    // margin-left: auto;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;

  }

  // .topnav {
  //   background-color: rgb(0,0,0); /* Fallback color */
  //   background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  //   overflow: hidden;
  //   border-bottom: 3px solid $white-color;
  // }

  // .topnav-right {
  //   text-align: center;
  //   padding: 15px;
  //   font-size: larger;
  //   font-weight: bold;

  // }

 footer {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  text-align: center;
 }

 .bottom {
   text-align: center;
 }

 .about {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid $white-color;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
 }

 .navv {
  font-weight: bold;
  font-size: x-large;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
 }
 
 button {
   padding: 15px !important;
   margin: 15px !important;
   width: 120px;
   font-weight: bold !important;
   font-size: large !important;

 }

 button:hover {
  background-color: rgba(0, 0, 0, 0.568); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.644); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid $white-color;
}
//  .button1 {
//   font: bold 11px Arial;
//   text-decoration: none;
//   background-color: #EEEEEE;
//   color: #333333;
//   padding: 2px 6px 2px 6px;
//   border-top: 1px solid #CCCCCC;
//   border-right: 1px solid #333333;
//   border-bottom: 1px solid #333333;
//   border-left: 1px solid #CCCCCC;
// }

.footerText {
  color: $white-color;
  padding: 10px;
}

