$white-color: whitesmoke;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pangolin&family=Patrick+Hand&family=Russo+One&display=swap');

body, html {
    margin-top: 0;
    border: 0;
    outline: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image-home {
    /* The image used */
    background-image: url("../images/food.jpg");
  
  
  
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {


    font-weight: bolder;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 0px;
    text-align: center;
  }

  .nav-link {
    color: $white-color;
    // margin-left: auto;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;

  }

  // .topnav {
  //   background-color: rgb(0,0,0); /* Fallback color */
  //   background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  //   overflow: hidden;
  //   border-bottom: 3px solid $white-color;
  // }

  // .topnav-right {
  //   text-align: center;
  //   padding: 15px;
  //   font-size: larger;
  //   font-weight: bold;

  // }

 .bottom {
   text-align: center;
 }

 .about {
  // background-color: rgb(0,0,0); /* Fallback color */
  // background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  // color: white;
  // border: 3px solid $white-color;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 40px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
 }

 .navv {
  font-weight: bold;
  font-size: x-large;
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
 }
 
 .buttonz {
   padding: 10px !important;
   margin: 30px !important;
   width: 120px;
   font-weight: bold !important;
   font-size: large !important;
   font-family: "Pangolin", sans serif;

 }

 .buttonz:hover {
  background-color: rgba(0, 0, 0, 0.568); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.644); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid $white-color;
}
//  .button1 {
//   font: bold 11px Arial;
//   text-decoration: none;
//   background-color: #EEEEEE;
//   color: #333333;
//   padding: 2px 6px 2px 6px;
//   border-top: 1px solid #CCCCCC;
//   border-right: 1px solid #333333;
//   border-bottom: 1px solid #333333;
//   border-left: 1px solid #CCCCCC;
// }


.donation {
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 8vw;
  margin-bottom: 15px;
  font-family: "Pangolin", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;

  @keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
}

.speech-bubble {
	position: relative;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  border-radius: .4em;
  color: white;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-top-color: rgba(0,0,0, 0.4);;
	border-bottom: 0;
	margin-left: -24px;
	margin-bottom: -24px;
}

.mission {
  font-size: large;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 0px;
}

.wrapper {
  overflow: hidden;
}






