.image {
    background: url("../images/login.jpg") no-repeat center;
    background-size: cover;
    width: auto;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.8);
    top: 0;
    left: 0;
};
.login {
    background-color: wheat;
    margin-left: 5%;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-right: 50%;
    text-align: center;
    
};
.loginBtn {
    background: sandybrown;
    text-align: center;
};
.form-label{
    margin-right: 3px;
}