.loginContainer {
    margin-top: 110px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 60px;
    box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    2px 2px 0 rgba(0,0,0,.25),
    6px 6px 6px rgba(0,0,0,.25);

}

.loginBtn, .registerBtn {
    width: 90px;
    float: right;
    text-align: center;
};

.floater {
    float: right;
    text-align: center;
};
// .login {
//     background: url("../images/login1.jpg");
//     margin-left: 30%;
//     margin-top: 25%;
//     // margin-bottom: 25%;
//     margin-right: 30%;
//     text-align: center;
//     padding: 3%;
//     box-shadow: 9px 12px 8px rgb(27, 48, 48);
// };
.font {
    color: black;
};

// .loginBtn {
//     background: sandybrown;
//     text-align: center;
// };

// .loginBtn:hover {
//     background: rgb(173, 98, 32);
// };

// .form-label {
//     margin-right: 5px;
// };

// // .navbar {
// //     opacity: 0.4;
// // };

// // .navbar:hover {
// //     opacity: 0.9;
// // };

// #password {
//     margin-right: 10px;
// }
