.bg-image- {
    /* The image used */
    background-image: url("../images/food.jpg");
  
  
    /* Full height */
    height: 700px;
  
    /* Center and scale the image nicely */
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }