$white-color: whitesmoke;


.pickupContainer {
  // margin-top: 300px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.MultiGridList-root {
  justify-content: center;
}

.reserveCard {
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  color: rgb(44, 44, 44);
  font-weight: bold;
  // border: 3px solid $white-color;
  box-shadow:
  -1px -1px 0 rgba(255, 255, 255, 0),
  2px 2px 0 rgba(0,0,0,.25),
  6px 6px 6px rgba(0,0,0,.25);
  width: 360px;
  height: auto;
  margin: 10px;
  // width: auto;
  // height: auto;


  // flex: content;
}

// .pickupTitle {
//   ali: center;
// }

.infoList {
  float: left;
}

.reserveBtn {
  float: right;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}