.registerPage {
    background: whitesmoke;
    width: 45%;
    height: 55%;
    margin-top: 8%;
    padding-left: 7%;    
    box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    2px 2px 0 rgba(0,0,0,.25),
    6px 6px 6px rgba(0,0,0,.25);
    border-radius: 15px;
    padding-top: 60px;
    
};
.registerField {
    // margin-left: 60px;
    // margin-right: 50px;
    margin-bottom: 10px;
    // padding-left: 4%;
    // padding-right: 0;
};
.headingRegister {
    text-align: left;
    margin-bottom: 25px;   
};

.registrationBtn {
    width: 130px;
    float: right;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 3%;
};

.logBtn {
    float: right;
    margin-top: 30px;
};
.floater {
    float: right;
    width: 90%; 
    // margin-left: 60px;
    // margin-right: 60px;
    padding-left: 0;
    padding-right: 15px;
}
